<!-- one psm1 + one psm2  -->
<launch>
 	<arg name="model" default="$(find dvrk_model)/PSM/two_psm.urdf" />
  <arg name="gui" default="true" />
  <arg name="rate" default="20" />


  <param name="robot_description"
         command="rosrun xacro xacro.py $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <param name="rate" value="$(arg rate)"/>
  
  <rosparam param="speed">0.001</rosparam>  
  <rosparam param="turn">0.005</rosparam>
  <rosparam param="number">2</rosparam>
  <rosparam param="name">['one','two','three']</rosparam>
  <rosparam param="gazebo_on">0</rosparam>
  <rosparam param="track_force">0</rosparam>
 
  <!-- joint state publisher -->

  <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher">
         <rosparam param="source_list">["/one","/two","/three"]</rosparam>
          </node>

  <!-- robot state publisher -->
  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="state_publisher" >
   
    </node>

  <!-- rviz node -->
  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find dvrk_model)/rviz/both_psms.rviz"/>
  
</launch>


